* {
  font-family: "Roboto", sans-serif;
}

.card {
  display: grid;
  grid-template-columns: repeat(5, 18.8rem);

  .cards {
    padding: 0.5rem;
    max-width: auto;
    text-align: center;
    border: 1px solid grey;

    img {
      max-width: auto;
      margin: 0 auto;
    }

    .bands-info {
      height: 8.5rem;
      margin: auto;

      .album_title {
        padding: 1rem 0;
        font-weight: bold;
        cursor: pointer;
        height: 2rem;
      }

      .artist_title {
        padding-bottom: 1rem;
      }

      .genre_text {
        color: lightgrey;
      }
    }
  }
}
